@import '../../../_variables'
@import ../../../_mixins

.panelDetails
    position: relative
    margin-top: 20px
    @include default-box()
    @media screen and ( max-width: 530px)
        padding: 20px 5px
    .button
        margin-top: 20px
        padding: 6px 20px
        .backIcon
            display: inline
            margin-right: 5px
    .spinner
        position: absolute
        top: 80px
        right: 50%
    .body
        padding: 20px 7vw
        textarea
            resize: none
        button
            display: block
            margin-left: auto
