@import '../../../_variables'
@import '../../../_mixins'
@import '../../../_animations'

$size: 200px

.list
    position: relative
    z-index: 0
    .imageBox
        position: relative
        display: inline-block
        height: $size
        width: $size
        margin: 10px
        &:hover
            img 
                border: 5px solid $darkBlue
            .iconsBox
                visibility: visible
        img 
            height: 100%
            width: 100%
            object-fit: cover
            cursor: pointer
            transition: 0.3s
        .iconsBox
            visibility: hidden
            position: absolute
            bottom: 0
            right: 0
            background: $darkBlue
            color: $lighterBlue
            padding: 0 0 10px 0
            font-size: 15px
            border-radius: 5px 0 0 0
            .iconWrap
                width: 100%
                padding: 5px 15px
                cursor: pointer
                transition: 0.3s
                &:first-child
                    border-radius: 5px 0 0 0
                &:hover
                    color: $logoBlue
                .icon
                    display: block
                    margin: 0 auto
    .imagesWrap
        margin: 20px auto
        width: 90%
        @media screen and ( max-width: 1800px )
            width: 100%
        @media screen and ( max-width: 1630px )
            width: 90%
        @media screen and ( max-width: 1450px )
            width: 100%
        @media screen and ( max-width: 1310px )
            width: 80%
        @media screen and ( max-width: 1200px )
            width: 100%
    .spinner
        position: absolute
        top: 0
        right: 45%
