@import '../../../_variables'
@import '../../../_mixins'

.modal
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    .overlay
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: #0000008f
        z-index: 0
    .content
        max-height: 95vh
        position: fixed
        margin: 0 auto
        background-color: $lighterBlue
        color: $lighterBlue
        z-index: 2
        .heading
            position: absolute
            top: 5px
            width: 100%
            .btnClose
                display: block
                margin-left: auto
                margin-bottom: 0
                padding: 2px 5px 0px 5px
                font-size: 16px
                background-color: #ffffff0a
                border-radius: 3px
                border: 1px solid $error
                color: $error
                transition: 0.1s
                cursor: pointer
                &:hover
                    color: $darkBlue
                    border: 1px solid $darkBlue
        .body
            img
                display: block
                height: 100%
                max-height: 95vh
