$brown: #221916
$dutchWhite: #DBCFB0
$umber: #62584B
$whiteBg: #ffffff0a
$logoBlue: #4b4f50
$dirtyWhite: #fffbfb
$lighterblue: #e7f8f8

//$primary: #f2fac2
//$green: #c4fada
//$purple: #fde0ed
//$lightblue: #b0c0c0
//$lighterblue: #cbf0f0
