$primary: #101118
$brown: #221916
$dutchWhite: #DBCFB0
$umber: #62584B
$whiteBg: #ffffff0a
$logoBlue: #4b4f50
$dirtyWhite: #fffbfb
$lighterBlue: #e7f8f8
$darkBlue: #1d1e26
$error: #ff5b5b
$success: #49f88f

//$primary: #f2fac2
//$green: #c4fada
//$purple: #fde0ed
//$lightblue: #b0c0c0
//$lighterblue: #cbf0f0
