@import './_variables'

.App
  min-height: 100vh
  background-color: $brown
  color: #fff
  footer
    position: absolute
    bottom: 0
    width: 100%
    font-size: 11px
    letter-spacing: 3px
    text-align: center
