@import '../../../_variables'
@import '../../../_mixins'
@import '../../../_animations'

.modal
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    width: 100vw
    height: 100vh
    &:hover
        .btnWrap
            transition: all 0.4s ease-in
            opacity: 1
        .header
            transition: all 0.4s ease-in
            opacity: 1
        .galleryContainer
            transition: all 0.4s ease-in
            opacity: 1
            transform: translate(0, 0)
    .overlay
        position: fixed
        top: 0
        left: 0
        right: 0
        bottom: 0
        background-color: #000000bd
        z-index: 0
    .btnWrap
        transition: all 0.4s ease-out
        opacity: 0
        @media screen and ( max-width: 1024px )
            display: inline-block
            position: absolute
            bottom: 0
            height: 70px
            width: 100vw
            opacity: 1
            background: $primary
            box-shadow: 0px -5px 19px 1px $primary
            z-index: 3
        .btn
            position: absolute
            bottom: 45%
            padding: 6px
            font-size: 2.5em
            z-index: 3
            &:first-of-type
                left: 50px
            &:last-of-type
                right: 50px
            @media screen and ( max-width: 1024px )
                bottom: 10px
                width: 30%
                font-size: 1.5em
                &:first-of-type
                    left: 5px
                &:last-of-type
                    right: 12px
        .btnDisabled
            color: #ffffff59
            border-color: #ffffff59
            cursor: default
            &:hover
                color: #ffffff59
                border-color: #ffffff59
                background: transparent
    .header
        position: absolute
        top: 0
        right: 5vw
        width: 100%
        padding: 10px
        transition: all 0.4s ease-out
        opacity: 0
        @media screen and ( max-width: 1024px )
            display: block
            top: 10px
            opacity: 1
            z-index: 111
        .btnClose
            display: block
            margin-left: auto
            margin-bottom: 0
            padding: 2px 5px 0px 5px
            font-size: 16px
    .sliderWrap
        animation: scaleFadeIn 0.5s ease-in-out forwards
        .slider
            position: relative
            height: 90vh
            width: 70vw
            margin: 0 auto
            @media screen and ( max-width: 1024px )
                height: 98vh
                width: 100vw
            @media screen and ( max-width: 800px )
                height: 100vh
                width: 100vw
            .sliderSection
                position: absolute
                top: 0
                z-index: 2
                box-shadow: -5px -5px 10px -5px #ffffff33
                &:first-of-type
                    left: -100vw
                &:last-of-type
                    right: -100vw
            ::-webkit-scrollbar
                width: 8px
                height: 8px
            ::-webkit-scrollbar-thumb
                background: #2e2e2e
    .galleryContainer
        position: absolute
        bottom: 0
        height: 70px
        width: 100vw
        background: black
        overflow: hidden
        transition: all 0.4s ease-out
        opacity: 0
        transform: translate(0, 35px)
        .gallery
            display: block
            margin: 0 auto
            padding-left: 0
            height: 100%
            width: 100%
            direction: ltr
            text-align: center
            .galleryItem
                display: inline-block
                width: 100px
                height: 100%
                overflow: hidden
                filter: grayscale(100%)
                vertical-align: bottom
                letter-spacing: normal
                display: inline-block
                transition: all 0.15s ease-in-out
                margin: 0 2px
                padding: 0
                background-color: #fff
                background-position: center
                background-size: cover
                background-repeat: no-repeat
                cursor: pointer
                opacity: 0.65
                border-bottom: solid 5px #272834
                &:hover
                    filter: grayscale(0)
                    border-bottom: solid 5px white
            .activeItem
                filter: grayscale(0) contrast(200%) !important
                border-bottom: solid 5px #272834 !important
.animationSlideLeft
    transform: translate(-100vw,0)
            
.animationSlideRight
    transform: translate(100vw,0)
