@import '../_variables'
@import '../_mixins'
@import '../_animations'

.uploadImages
    min-height: 100px
    .box
        padding: 0 5% 50px 5%
        input
            width: 0.1px
            height: 0.1px
            opacity: 0
            overflow: hidden
            position: absolute
            z-index: -1
        label
            padding: 10px
            cursor: pointer
            user-select: none
            transition: 0.2s
            &:hover
                .icon
                    transform: rotate(90deg)
        .icon
            margin-right: 10px
            transition: transform 1s, font-size 1s
    button
        display: block
        margin-left: auto
        margin-right: 15px
        margin-top: 5%
